Repository pluxity/plug-platform, pull requests merged in 2025-03, with the labels that each got.

#25 Feature/textarea
  apps/sample/src/App.tsx
  package.json
  packages/ui/src/components/Textarea/Textarea.stories.tsx
  packages/ui/src/components/Textarea/Textarea.tsx
  packages/ui/src/components/Textarea/index.ts
  pnpm-lock.yaml
Labels: enhancement

#24 Feature/input text
  apps/sample/src/App.tsx
  packages/ui/src/assets/icons/notice.svg
  packages/ui/src/assets/icons/password.svg
  packages/ui/src/assets/icons/password_hide.svg
  packages/ui/src/components/Input/Input.stories.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/Input/InputBox.tsx
  packages/ui/src/components/Input/InputHelperText.tsx
  packages/ui/src/components/Input/InputLabel.tsx
  packages/ui/src/components/Input/InputPassword.tsx
  packages/ui/src/components/Input/InputText.tsx
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/Textarea/Textarea.stories.tsx
  packages/ui/src/components/Textarea/Textarea.tsx
  packages/ui/src/index.css
Labels: enhancement

#28 Design system/feature/card
  apps/sample/package.json
  apps/sample/src/App.tsx
  apps/sample/src/pages/DesignSystem.tsx
  apps/sample/src/pages/DialogExamples.tsx
  apps/sample/src/pages/ThreeDTest.tsx
  apps/sample/tsconfig.json
  apps/tancheon-odor-monitoring/postcss.config.mjs
  apps/tancheon-odor-monitoring/src/app/globals.css
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/Card/.gitkeep
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/Card.types.ts
  packages/ui/src/components/Card/index.ts
  packages/ui/src/components/Checkbox/index.ts
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/Dialog.types.ts
  packages/ui/src/components/Dialog/index.ts
  packages/ui/src/components/Input/index.ts
  packages/ui/src/components/Modal/Modal.stories.tsx
  packages/ui/src/components/Modal/Modal.tsx
  packages/ui/src/components/Modal/Modal.types.ts
  packages/ui/src/components/Modal/index.ts
  packages/ui/src/components/Popup/Popup.stories.tsx
  packages/ui/src/components/Popup/Popup.tsx
  packages/ui/src/components/Popup/Popup.types.ts
  packages/ui/src/components/Popup/index.ts
  packages/ui/src/components/Radio/index.ts
  packages/ui/src/components/Textarea/index.ts
  packages/ui/src/components/Time/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: enhancement, project: design-system

#31 차트 컴포넌트 추가
  apps/sample/src/App.tsx
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/src/components/Chart/Chart.stories.tsx
  packages/ui/src/components/Chart/Chart.tsx
  packages/ui/src/components/Chart/Chart.types.ts
  packages/ui/src/components/Chart/index.ts
  packages/ui/src/components/Input/index.ts
  pnpm-lock.yaml
Labels: enhancement, project: design-system

#54 Design system/feature/accordion
  apps/sample/index.html
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/assets/icons/accordion.svg
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/Accordion.types.ts
  packages/ui/src/components/Accordion/index.ts
Labels: enhancement, project: design-system

#55 skeleton 컨포넌트 생성
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/Skeleton.types.ts
  packages/ui/src/components/Skeleton/index.ts
Labels: enhancement, project: design-system

#57 Design system/feature/label
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Label/Label.stories.tsx
  packages/ui/src/components/Label/Label.tsx
  packages/ui/src/components/Label/Label.types.ts
  packages/ui/src/components/Label/index.ts
Labels: enhancement, project: design-system

#56 switch 컨포넌트 생성
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Switch/Switch.types.ts
  packages/ui/src/components/Switch/index.ts
Labels: enhancement, project: design-system

#60 Design system/feature/tab
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/components/Input/Input.stories.tsx
  packages/ui/src/components/Tab/Tab.stories.tsx
  packages/ui/src/components/Tab/Tab.tsx
  packages/ui/src/components/Tab/Tab.types.ts
  packages/ui/src/components/Tab/index.ts
Labels: enhancement, project: design-system

#62 Design system/feature/slider
  apps/sample/src/pages/DesignSystem.tsx
  packages/ui/index.ts
  packages/ui/src/components/Slider/Slider.stories.tsx
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Slider/Slider.types.ts
  packages/ui/src/components/Slider/index.ts
  packages/ui/src/components/Tab/Tab.stories.tsx
  packages/ui/src/components/Tab/Tab.tsx
Labels: enhancement, project: design-system

#66 Design system/feature/update slider and tab
  packages/ui/src/components/Slider/Slider.stories.tsx
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Slider/Slider.types.ts
  packages/ui/src/components/Tab/Tab.stories.tsx
  packages/ui/src/components/Tab/Tab.tsx
  packages/ui/src/components/Tab/Tab.types.ts
Labels: enhancement, project: design-system

#65 BreadCrumb 컴포넌트
  packages/ui/src/assets/icons/home.svg
  packages/ui/src/components/BreadCrumb/BreadCrumb.stories.tsx
  packages/ui/src/components/BreadCrumb/BreadCrumb.tsx
  packages/ui/src/components/BreadCrumb/BreadCrumb.types.ts
  packages/ui/src/components/BreadCrumb/index.ts
Labels: documentation, project: design-system

#69 Design system/feature/calendar
  packages/ui/package.json
  packages/ui/src/components/Calendar/Calendar.stories.tsx
  packages/ui/src/components/Calendar/Calendar.tsx
  packages/ui/src/components/Calendar/Calendar.types.ts
  packages/ui/src/components/Calendar/index.ts
  pnpm-lock.yaml
Labels: enhancement, project: design-system
